.btn-editar{
    border: 2px solid transparent;
    color: #9bc600;
    background-color: #eefac1;
}

.btn-editar:hover{
    border: 2px solid #9bc600;
    background-color: #9bc600;
    color:white;
    transition: 0.4s;
}

#mapaRuta{
    width: 100%;
    height: 350px;
    background: grey;
}

.instructions {
    position: absolute;
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
}

.duration {
    font-size: 2em;
}