<div class="form-bg my-2">
    <div class="container">
        <div class="row">
            <div class="col-9 col-sm-7 col-md-4 mx-auto">
                <form class="form-horizontal" (submit)="signUp()"  >
                    <h2 class="heading">NUEVO EMPLEADO</h2>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nombre" id="nombre" name="nombre" class="form-control" placeholder="Nombre"  required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.apepat" id="apepat" name="apepat" class="form-control" placeholder="Apellido Paterno" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.apemat" id="apemat" name="apemat" class="form-control" placeholder="Apellido Materno" >
                    </div>

                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.correo" id="correo" name="correo" class="form-control" placeholder="Correo" required>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.contrasena" id="contrasena" name="contrasena" class="form-control" placeholder="Contraseña" required >
                    </div>

                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.telefono" id="telefono" name="telefono" class="form-control" placeholder="Teléfono" >
                    </div>

                    <div class="form-group">
                        <input type="number" [(ngModel)]="user.sueldo" id="sueldo" name="sueldo" class="form-control" placeholder="Sueldo" min="1" max="100000">
                    </div>

                    <div class="form-group">
                        <label style="padding: 10px 8px 0px 15px; color: #fff;">Disponibilidad:</label><br>
                        <input  checked type="radio" [(ngModel)]="user.disponibilidad" id="disponible" name="disponibilidad" [value]="0" >
                        <label for="disponible" style="padding: 10px 28px 10px 0px; color:#fff">Disponible</label>
                        <input type="radio" [(ngModel)]="user.disponibilidad" id="ocupado" name="disponibilidad" [value]="1">
                        <label for="ocupado" style="padding: 10px 8px 10px 0px; color:#fff">Ocupado</label><br>
                    </div>
                    
                    <button type="submit" class="btn btn-default">Registrar</button>
                    <div class="form-footer">
                        <!--<span><a routerLink="/users/login" >¿Ya tienes una cuenta?</a></span>-->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>