<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card text-center">
                <div class="card-body text-center">
                    <p><img class="rounded-circle img-fluid" [src]="this.urlMapa" alt="card image"></p>
                    <h5 class="card-title">Automóvil: {{this.tipoAuto[servicio.info.tipoAuto]}}</h5>
                    <p class="card-text">Tipo de servicio a realizar: {{this.tipoServicio[servicio.info.tipoServicio]}}</p>
                    <p class="card-title">Total: {{servicio.total | currency}}</p>
                    <p class="card-text text-muted">{{servicio.info.fecha | date: 'dd/MMM/yyyy, H:mm a'}}</p>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a *ngIf="servicio.fechaHora.inicio == undefined" (click)="editar()" class="badge btn-editar">Editar</a>
                        </div>
                        <div class="col-auto">
                            <a *ngIf="servicio.fechaHora.inicio == undefined" (click)="cancelar()" class="badge badge-light">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>