<nav class="navbar navbar-expand-lg navbar-light border-bottom">
   <div class="container" >
        <a class="navbar-brand my-0 py-0" routerLink="/" style="color: #9bc600">
            <img class="img-fluid" width="70px" src="assets/cero-simple-copia.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav " *ngIf="authService.loggedIn();">
            <li class="nav-item">
                <a class="nav-link" routerLink="/servicios" routerLinkActive="active">Servicios</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/solicitar" routerLinkActive="active" >Solicitar</a>
            </li>
            <li class="nav-item dropdown" *ngIf="isLogged">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Empleados
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/registeremp">Dar de alta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/empleados">Ver todos</a>
                    <a class="dropdown-item" routerLink="/ventas-emp">Ventas</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <ng-container *ngIf="!isLogged; else loggedIn">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registercli" routerLinkActive="active" >Registrar</a>
                </li>
            </ng-container>
            <ng-template #loggedIn>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/perfil" title="Ver perfil" routerLinkActive="active">
                        <i class="fas fa-user-circle"></i> {{usuario.correo}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Salir</a>
                </li>
            </ng-template>
        </ul>
        </div>
   </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer mt-4 py-4">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md text-center my-2 my-sm-1">
                <img src="assets/BLANCA-12-copia.png" class="img-fluid" style="max-width:90%" alt="">
            </div>
            <div class="col-md my-2 my-sm-1">
                <h3>Síguenos.</h3>
                <div><a href="https://www.instagram.com/cero_h2o_autolavado/"><i class="fab fa-instagram"></i> cero_h2o_autolavado</a></div>
                <div><a href="https://www.facebook.com/CeroH2O/"><i class="fab fa-facebook-square"></i> CeroH2O</a></div>
                <div><a href="https://www.youtube.com/channel/UCX4wf5oTmrbVpBoW8Vg9IEQ"><i class="fab fa-youtube"></i> Cero H2O</a></div>
            </div>
            <div class="col-md my-2 my-sm-1">
                <h3>Horario de Servicios.</h3>
                <p>Lunes a Viernes - 09:00 a 19:00 hrs.</p>
            </div>
            <div class="col-md my-2 my-sm-1">
                <h3>Contáctanos.</h3>
                <div><i class="fas fa-map-marker-alt"></i> Aguascalientes, Ags., México</div>
                <div><i class="fas fa-mobile-alt"></i> <a href="tel:+524491518539">+524491518539</a></div>
                <div><i class="fas fa-mobile-alt"></i> <a href="tel:+524491518539">+524491518539</a></div>
            </div>
        </div>
    </div>
</footer>
