
<div class="form-bg my-2">
    <div class="container">
        <div class="row">
            <div class="col-9 col-sm-7 col-md-4 mx-auto">
                <form class="form-horizontal" (submit)="signIn()" >
                    <h2 class="heading">INGRESAR</h2>
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.correo"  id="correo" name="correo" class="form-control" placeholder="Correo"  required>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.contrasena"  id="contrasena" name="contrasena" class="form-control" placeholder="Contraseña" required >
                    </div>
                    <button type="submit" class="btn btn-default">Ingresar</button>
                    <div class="form-footer">
                        <span><a routerLink="/registercli" >¿No tienes una cuenta?</a></span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  