body{
    padding: 2rem 0rem;
}
.btn-editar{
    border: 2px solid transparent;
    color: #9bc600;
    background-color: #eefac1;
}

.btn-editar:hover{
    border: 2px solid #9bc600;
    background-color: #9bc600;
    color:white;
    transition: 0.4s;
}

.btn-confirmar{
    border: 2px solid transparent;
    color: white;
    background-color: #0f3c49;
}

.btn-confirmar:hover{
    border: 2px solid #0f3c49;
    background-color: #154d5c;
    color:white;
    transition: 0.4s;
}